* {
    margin: 0px auto;
    padding: 0;
}

body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    border: 3px solid black;
    border-radius: 30px;
}

.button {
  border: 1px solid black;
  width: 30px;
  height: 30px;
  background-color: white;
  font-size: 20px;
  border-radius: 8px;
}

.title {
  width: 100%;
  display: flex;
  height: 80px;
  border-bottom: 3px solid black;
  background-color: #2f7;
  border-radius: 27px 27px 0 0;
}

h2 {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}

.tasks-list {
  width: 100%;
}

.tasks {
  list-style: none;
}

.task {
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.task-content {
  flex-grow: 1;
  padding-left: 10px;
  font-size: 24px;
}

.remove-button {
  border: none;
  margin-right: 10px;
}

.remove-button:hover{
  font-size: 28px;
}

.completed-button {
  text-align: center;
  font-size: 25px;
  margin-left: 10px;
  width: 32px;
  height: 32px;
}

.completed {
  text-decoration: line-through;
  color: #889;
}

.filters {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#total_tasks {
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
}

.filter-button {
  margin: auto 5px;
}

#button_all {
  width: 80px;
}

#button_active {
  width: 80px;
}

#button_complete {
  width: 100px;
}

.new-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

#new_task {
  font-size: 24px;
  height: 32px;
  flex-grow: 1;
  margin: auto 15px;
}

#button_add {
  margin-right: 10px;
}

.completed-button:hover,
#button_all:hover,
#button_active:hover,
#button_complete:hover,
#button_add:hover {
  background-color: rgba(171, 247, 209, 0.411);
}

#button_all:active,
#button_active:active,
#button_complete:active {
  background-color: rgba(171, 247, 209, 0.411);
}


.footer {
  width: 100%;
  font-size: 14
    px;
  font-weight: bold;
  color: #599;
  height: 25px;
  text-align: center;
  padding-top: 10px;
  background-color: #2f7;
  border-radius: 0 0 27px 27px;
}