* {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.flexbox-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 800px;
    margin: auto;
}

h1 {
    font-size: 42px;
    text-align: center;
    margin: 20px auto;
}

#tasks {
    border: 1px solid #000000;
}
#task-list {
    list-style: none;
}

.module {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.todo {
    border-bottom: 1px solid #000000;
}

.button {
    height: 32px;
    width: 32px;
    margin: auto 2px;
    background-color: #ffffff;
    border: none;
}

#btn-complete, #btn-add {
    border: 1px solid #000000;
}

#btn-add {
    margin-left: 10px;
    margin-right: 0;
}

.btn-filter {
    border: 1px solid black;
    font-size: 16px;
    width: min-content;
    padding: 0 10px;
    text-align: center;
}

#btn-fltr-all {
    padding: 0 20px;
}

.task {
    font-size: 24px;
    flex-grow: 1;
    padding-left: 5px;
}

#status {
    font-size: 16px;
    flex-grow: 1;
    padding-left: 20px;
}

#task-add {
    margin-top: auto;
}

#add-task {
    height: 30px;
    padding-left: 10px;
    flex-grow: 1;
    border: 1px solid #000000;
}
